*.log
/doc/chap*.html
/doc/chap*.txt
/doc/*.css
/doc/*.js
/doc/chooser.html
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.lab
/doc/*.log
/doc/*.out
/doc/*.pnr
/doc/*.six
/doc/*.tex
/doc/*.toc
/doc/manual.pdf
/doc/bib.xml.bib
/tst/apps.g
/tst/der.g
/tst/gp*.g
/tst/isoclinic.g
/tst/util.g
/xtst/c*.g 
/xtst/induced.g
/xtst/loops.g
/xtst/others.g

/tmp/
/gh-pages/
