*.log

/doc/chap*.html
/doc/chap*.txt
/doc/*.css
/doc/*.js
/doc/chooser.html
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.lab
/doc/*.log
/doc/*.out
/doc/*.pnr
/doc/*.six
/doc/*.tex
/doc/*.toc

/doc/manual.pdf
/doc/bib.xml.bib
/doc/_*.xml
/doc/title.xml
/doc/xmod.xml

/expt/
/removed/*

/tst/allxmods.g
/tst/apps.g
/tst/c*.g
/tst/d24.g
/tst/gp*.g
/tst/i*.g
/tst/loops.g
/tst/others.g
/tst/smallids.g
/tst/testextra.g
/tst/testmanual.g
/tst/util.g
/tst/double.g

/tmp/
/gh-pages/
